.planet-list__title {
  font-weight: bold;
  font-size: 30px;
}

.planet-list__column-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.planet-list__column-title {
  font-size: 20px;
}

.planet-list__list {
  margin: 0;
  padding: 0;
}
